﻿@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<DapperProject.Dtos.AdvertDtos.ResultAdvertDto>
@{
    ViewData["Title"] = "AdvertList";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string type = "";
                if(item.AdvertStatus==true)
                {
                    type = "Satılık";
                }
                else
                {
                    type = "Kiralık";
                }
                <div class="col-md-4 ftco-animate">
                    <div class="properties">
                        <a href="/AdvertDetails/Index/@item.AdvertId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl1);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-search2"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <span class="status sale">@type</span>
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="/AdvertDetails/Index/@item.AdvertId">@item.Title</a></h3>
                                    <p>@item.CategoryName</p>
                                    <p>@item.LocationName</p>
                                </div>
                                <div class="two">
                                    <span class="price">$@item.Price</span>
                                </div>
                            </div>
                            <p>@item.Description</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="flaticon-selection"></i> @item.M2 m2</span>
                                <span class="ml-auto"><i class="flaticon-bathtub"></i> @item.BathroomCount</span>
                                <span><i class="flaticon-bed"></i> @item.RoomCount</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
          
           
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("AdvertList", new { page }))
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>