@model List<DapperProject.Dtos.KaggleDatasetDtos.ResultDataDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<!DOCTYPE html>
<html>
<body>
    <div class="main-content" id="panel">
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Toplam Veri</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewBag.AllDataCount</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>Satılık Yapıların Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Toplam Şehir</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewBag.AllDataCityCount</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                <i class="ni ni-chart-pie-35"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                        <span class="text-nowrap">Porto Riko daki Şehirlerin Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Ortalama Fiyat</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewBag.AllDataAvgPrice</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                <i class="ni ni-money-coins"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                        <span class="text-nowrap">Porto Riko daki Yapıların Ortalama Fiyatı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Ortalama Oda Sayısı</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewBag.AllDataAvgBed</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                                <i class="ni ni-chart-bar-32"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                        <span class="text-nowrap">Porto Riko daki Ortlama Oda Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <h3 class="mb-0">Porto Rikodaki Emlak Verileri </h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Durum </th>
                                                <th scope="col">Fiyat</th>
                                                <th scope="col">Yatak</th>
                                                <th scope="col">Banyo</th>
                                                <th scope="col">M2</th>
                                                <th scope="col">Şehir</th>
                                                <th scope="col">Eyalet</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <td>
                                                        @count
                                                    </td>

                                                    <td>
                                                        @item.Status
                                                    </td>
                                                    <td>
                                                        $@item.Price
                                                    </td>
                                                    <td>
                                                        @item.Bed
                                                    </td>
                                                    <td>
                                                        @item.Bath
                                                    </td>
                                                    <td>
                                                        @item.AcreLot
                                                    </td>
                                                    <td>
                                                        @item.City
                                                    </td>
                                                    <td>
                                                        @item.State
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </div>
</body>

</html>


