@model List<DapperProject.Dtos.AdvertDtos.Last6AdvertDto>
<section class="ftco-section ftco-properties">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Recent Posts</span>
				<h2 class="mb-4">En Yeni İlanlar</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="properties-slider owl-carousel ftco-animate">
					@foreach (var item in Model)
					{
						string type = "";
						if(@item.AdvertStatus=true)
						{
							type = "Satılık";
						}
						else
						{
							type = "Kiralık";
						}
						<div class="item">
							<div class="properties">
								<a href="/AdvertDetails/Index/@item.AdvertId" class="img d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl1);">
									<div class="icon d-flex justify-content-center align-items-center">
										<span class="icon-search2"></span>
									</div>
								</a>
								<div class="text p-3">
									<span class="status sale">@type</span>
									<div class="d-flex">
										<div class="one">
											<h3><a href="#">@item.Title</a></h3>
											<p>@item.CategoryName</p>
											<p>@item.LocationName</p>
										</div>
										<div class="two">
											<span class="price">@item.Price</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					}
					
				</div>
			</div>
		</div>
	</div>
</section>